ranking-card {

    .engagement-index {
        text-align: left;
        margin-right: 10px;
    }

    .no-reputation {
        margin-left: 20px;
    }

    .margin-right {
        margin-right: 8%;
    }
}