<ion-row class="block-padding">
    <ion-col col-1 padding class="text-details text-details--bold"> {{ userPosition }} </ion-col>
    <ion-col col-1>
        <ion-row justify-content-center>
            <avatar [avatarUrl]="avatarObs | async"></avatar>
        </ion-row>
    </ion-col>
    <ion-col col-3>
        <ion-row> 
            <span class="user-info text-title no-wrap"> {{ isCurrentUserName ? (nameObs | async) : name }} </span>
        </ion-row>
        <ion-row>
            <span class="user-info text-description"> {{ email }} </span>
        </ion-row>
    </ion-col>
    <ion-col col-7 class="tooltip-block">
        <ion-row class="remove-vertical-padding">
            <ion-col col-3 class="remove-vertical-padding" *ngIf="globalSelected; else notGlobalSelectedBlock">
                <div class="criterial-center">
                    <img class="ico ico__big" src="assets/imgs/chains.svg">
                    <span class="text-title ranking-score">{{ engagementIndexString }}</span>
                </div>
            </ion-col>
            <ng-template #notGlobalSelectedBlock>
                <ion-col col-3 class="remove-vertical-padding">
                    <div class="criterial-center">
                        <div *ngIf="isRanked; else notRanked">
                            <span class="text-title text-title--yellow ranking-score"> {{ reputation }} </span>
                            <img class="ico ico__big" src="assets/imgs/star-icon.svg">
                        </div>
                        <ng-template #notRanked no-padding>
                            <ion-col class="remove-vertical-padding tooltip">
                                <span
                                    class="text-title text-title--grey ranking-score">{{ "ranking.noReputation" | translate }}</span>
                                <img class="ico ico__big" src="assets/imgs/star-icon.svg">
                                <div class="tooltip-text"
                                    [innerHTML]=" 'ranking.notQualified' | translate:tooltipParams"></div>
                            </ion-col>
                        </ng-template>
                    </div>
                </ion-col>
                <ion-col col-1 class="remove-vertical-padding">
                    <div>
                        <img class="ico ico__big" src="assets/imgs/chains.svg">
                    </div>
                </ion-col>
                <ion-col col-1 class="remove-vertical-padding margin-right">
                    <ion-row justify-content-center>
                        <div class="engagement-index" *ngIf="isRanked; else isNotRanked">
                            <span class="text-title ranking-score engagement-index">{{ engagementIndexString }}</span>
                        </div>
                        <ng-template #isNotRanked>
                            <span class="text-title text-title--grey ranking-score no-reputation engagement-index">{{ "ranking.noReputation" | translate }}</span>
                        </ng-template>
                    </ion-row>
                </ion-col>
            </ng-template>
            <ion-col col-3 class="remove-vertical-padding">
                <ion-row *ngIf="isRankedByReviews; else toQualifyReview" justify-content-center class="text-title">
                    {{ numReviews }}</ion-row>
                <ng-template #toQualifyReview>
                    <ion-row justify-content-center class="text-title">
                        {{ "ranking.reviewOutOf" | translate: reviewParams }}</ion-row>
                </ng-template>
                <ion-row justify-content-center class="text-description">{{ "app.reviews" | translate }}</ion-row>
            </ion-col>
            <ion-col col-3 class="remove-vertical-padding">
                <ion-row *ngIf="isRankedByCommits; else toQualifyCommit" justify-content-center class="text-title">
                    {{ numCommits }}</ion-row>
                <ng-template #toQualifyCommit>
                    <ion-row justify-content-center class="text-title">
                        {{ "ranking.commitOutOf" | translate: commitParams }}</ion-row>
                </ng-template>
                <ion-row justify-content-center class="text-description">{{ "app.commits" | translate }}</ion-row>
            </ion-col>
            <ion-col *ngIf="globalSelected" col-3 class="remove-vertical-padding remove-horizontal-padding">
                <ion-row justify-content-center class="text-title">{{ agreed }}%</ion-row>
                <ion-row justify-content-center class="text-description">{{ "ranking.agreed" | translate }} </ion-row>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>