<ion-grid padding class="main-style">
    <ion-row class="card">
        <ion-col padding col-auto>
            <img class="box-avatar box-avatar__big" src="http://identicon.org?t={{ review.name }}">
        </ion-col>
        <ion-col padding align-items-center>
            <ion-row no-padding>
                <ion-col col-auto class="text-title">{{ review.name }}</ion-col>
                <ion-col class="text-details">{{ review.lastModificationDateMs | dateFormat }}</ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col>
                    <ion-row class="padding-bottom padding-top">
                            <div class="average-text">{{ "review.average" | translate }}: </div>
                    </ion-row>
                    <ion-row class="padding-bottom">
                            <div class="text-details">{{ "review.cleanCode" | translate }}: </div>
                    </ion-row>
                    <ion-row class="padding-bottom">
                            <div class="text-details">{{ "review.difficulty" | translate }}: </div>
                    </ion-row>
                    <ion-row >
                            <div class="text-details">{{ "review.reviewerExperience" | translate }}: </div>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row>
                            <rating class="right" [rate]="review.score" readonly="true" small="true"></rating>
                    </ion-row>
                    <ion-row>
                            <rating class="right" [rate]="review.cleanCode" readonly="true" small="true"></rating>
                    </ion-row>
                    <ion-row>
                            <rating class="right" [rate]="review.difficulty" readonly="true" small="true"></rating>
                    </ion-row>
                    <ion-row>
                            <rating class="right" [rate]="review.reviewerExpercience" readonly="true" small="true"></rating>
                    </ion-row>
                </ion-col>           
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row padding class="text-description card">
        {{ review.text }}
    </ion-row>
    <ion-row padding *ngIf="review.vote==0">
        <ion-col>
            <button class="btn btn--full btn__blue" (click)="setThumbsUp()">{{ "commits.agree" | translate }}</button>
        </ion-col>
        <ion-col>
            <button class="btn btn--full btn__red" (click)="setThumbsDown()">{{ "commits.disagree" | translate }}</button>
        </ion-col>
        <ion-col>
            <button class="btn btn--full btn__yellow">
                        <ion-icon name="warning"></ion-icon>
                    </button>
        </ion-col>
    </ion-row>
    <ion-row padding *ngIf="review.vote==1">
        <button class="btn btn--full btn__blue">  {{ "commits.ratedAgree" | translate }}</button>
    </ion-row>
    <ion-row padding *ngIf="review.vote==2">
        <button class="btn btn--full btn__red"> {{ "commits.ratedDisagree" | translate }}</button>
    </ion-row>
</ion-grid>