<div class="card-comment">
    <div class="header">
        <img class="user-avatar" src="http://identicon.org?t={{ review.name }}">
        <div class="user-information">
            <div class="text-information">
                <div class="text-title right-padding">{{ review.name }}</div>
                <div class="text-date">{{ review.lastModificationDateMs | dateFormat }}</div>
            </div>
            <rating [rate]="review.score" readonly="true" small="true"></rating>
        </div>
    </div>
    <div class="text-description text-margins">
        {{ review.text }}
    </div>
    <ion-row>
        <ion-col>
            <button class="button-green-active" (click)="setThumbsUp()" *ngIf="review.vote==0">{{ "commits.agree" | translate }}</button>
        </ion-col>
        <ion-col>
            <button class="button-red-active" (click)="setThumbsDown()" *ngIf="review.vote==0">{{ "commits.disagree" | translate }}</button>
        </ion-col>
        <ion-col>
            <button class="button-yellow-active" *ngIf="review.vote==0">
                <ion-icon name="warning"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
    <ion-row>
        <button class="button-green-active" *ngIf="review.vote==1"> {{ "commits.ratedAgree" | translate }}</button>
    </ion-row>
    <ion-row>
        <button class="button-red-active" *ngIf="review.vote==2"> {{ "commits.ratedDisagree" | translate }}</button>
    </ion-row>
    
</div>

