twitter-share {
    .twitter-share-button {
        height: 20px;
        bottom: 2px;
        width: 54px;
    }

    .share-text {
        font-size: 10px;
        text-transform: capitalize;
        margin-left: 2px;
    }
}