page-tabs {
    .menu-container {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70px;
        background-color: rgb(40, 47, 58);
        .logo-container {
            height: 70px;
            width: 100%;
            line-height: 70px;
            text-align: center;
            background-color: #1d222b;
            .logo-icon {
                width: 35px;
                vertical-align: middle;
            }
        }
        .avatar-container {
            height: 70px;
            line-height: 70px;
            text-align: center;
            width: 100%;
        }
        .logout {
            margin-top: auto;
            display: flex;
            flex-direction: column;
        }

        .tweet-in-tabs {
            margin: 0px 10px;
            padding-top: 3px;
        }

        .share-button {
            opacity: 0.25;
            background-color: #282f3a;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        .fab-button {
            bottom: 50px;
            left: 6px;
        }
    }
}

.tab-text {
    color: white;
    margin: 5px, 0px;
    font-size: 66%;
}