page-tabs {
    .menu-container {
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70px;
        background-color: rgb(40, 47, 58);
        .logo-container {
            height: 70px;
            width: 100%;
            line-height: 70px;
            text-align: center;
            background-color: #1d222b;
            .logo-icon {
                width: 35px;
                vertical-align: middle;
            }
        }
        .avatar-container {
            height: 70px;
            line-height: 70px;
            text-align: center;
            width: 100%;
        }
        .logout {
            margin-top: auto;
            display: flex;
            flex-direction: column;
        }

        .tweet-in-tabs {
            margin: 0px 10px;
            padding-top: 3px;
        }

        .share-button {
            opacity: 0.25;
            background-color: #282f3a;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        .tooltip .tooltip-text {
            visibility: hidden;
            width: 340px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            background-color: rgba(255, 255, 255, 1);
            color: black;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            top: -10%;
            left: -600%;
            margin-left: -80px;
            font-size: 12px;
            position: absolute;
            z-index: 1;
            transition-property: all;
            transition-delay: 2s;
        }

        .fab-button {
            bottom: 50px;
            left: 6px;
        }

        .tooltip:active .tooltip-text,
        .tooltip-text:hover {
            visibility: visible;
            left: 200%;
            transition-property: visibility;
            transition-duration: 0s;
            transition-delay: 0s;
        }

        .tooltip:active .tooltip-content,
        .tooltip-text:hover .tooltip-content {
            opacity: 1;
            align-self: center;
            margin: 10px;
            transition-property: opacity;
            transition-duration: 0s;
            transition-delay: 0s;
        }

        .tooltip .tooltip-content {
            opacity: 0;
            align-self: center;
            margin: 10px;
            transition-property: opacity;
            transition-delay: 2s;
        }

        .tweet {
            padding-top: 3px;
        }

        .tooltip-text-open {
            color: rgba(0, 0, 0, 0.6);
            font-size: 11px;
            text-align: center;
        }
    }
}

.tab-text {
    color: white;
    margin: 5px, 0px;
    font-size: 66%;
}