<ion-header no-border class="main-header">
    <ion-row no-padding class="header-row">
        <ion-col no-padding align-self-center col-3>
            <ion-row>
                <span class="text-main">{{ "app.ranking" | translate }}</span>
                <select [(ngModel)]="comboSelected" (ngModelChange)="setSeason($event)"
                    class="dropdown dropdown--ranking">
                    <option hidden value="" disabled selected>{{ "ranking.selectSeason" | translate }}</option>
                    <option *ngFor="let option of seasons" [ngValue]="option">
                        {{ option }}
                    </option>
                </select>
            </ion-row>
        </ion-col>
        <ion-col col-5 no-padding class="text-ranking">
            <div class="ranking-top">
                <ion-row>
                    <ion-col col-9>{{ teamName }}. {{ "ranking.season" | translate }}:
                        {{ numberOfSeasons }}</ion-col>
                    <ion-col col-3 *ngIf="days > 0" class="ranking-left">{{ days }} {{ "ranking.day" | translate }}
                        {{ "ranking.left" | translate }}</ion-col>
                    <ion-col col-3 *ngIf="days <= 0 && !seasonEnded" class="ranking-left">{{ hours }}
                        {{ "ranking.hours" | translate }}, {{ minutes }} {{ "ranking.minutes" | translate }}
                        {{ "ranking.left" | translate }} </ion-col>
                    <ion-col col-3 *ngIf="seasonEnded" class="ranking-left">{{ "ranking.seasonEnd" | translate }}
                    </ion-col>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content center padding class="main-container">
    <ion-row>
        <ion-col>
            <ion-row no-padding>
                <ion-col col-10 no-padding>
                    <span *ngIf="globalSelected; else globalNotSelectedBlock">{{ "ranking.global" | translate }} </span>
                    <ng-template #globalNotSelectedBlock>{{ "app.ranking" | translate }} ·
                         {{ "ranking.season" | translate }} {{ seasonSelected }}</ng-template>
                    <span class="text-details ranking-a"><a no-padding (click)="setCurrentSeason()"> |
                            {{ "ranking.retrieveToSeason" | translate }}</a></span>
                </ion-col>
                <ion-col col-2 no-padding class="ranking-left">
                    <a class="text-details ranking-a" no-padding
                        (click)="goBackToUser()">{{ "ranking.retrieve" | translate }}</a>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-grid no-padding class="table">
                    <ranking-card *ngFor="let user of usersRep" (click)="setUser(user.userHash)"
                        [globalSelected]="globalSelected" [ranking]="user"
                        [minNumberCommit]="minNumberCommit" [minNumberReview]="minNumberReview"
                        [ngClass]="user.isRanked ? 'ranked' : 'not-ranked'"></ranking-card>
                </ion-grid>
            </ion-row>
        </ion-col>
        <ion-col *ngIf="showDetails; else notShowDetails">
            <ion-row no-padding>
                <span class="text-details text-details--bold">{{ "ranking.details" | translate }}:</span>
            </ion-row>
            <ion-row padding class="profile-details-container">
                <ion-col col-1>
                    <ion-row justify-content-center>
                        <avatar [avatarUrl]="currentUserObs | async" [isBig]="true"></avatar>
                    </ion-row>
                </ion-col>
                <ion-col col-2 padding justify-content-center center class="vert-separator">
                    <ion-row> 
                        <span class="user-info text-title"> {{ isCurrentUserName ? (nameObs | async) : userRankDetails.name }} </span>
                    </ion-row>
                    <ion-row>
                        <span class="user-info text-description"> {{ userRankDetails.email }} </span>
                    </ion-row>
                </ion-col>
                <ion-col col-4 class="vert-separator">
                    <ion-row justify-content-center>
                        <ion-col no-padding>
                            <ion-row justify-content-center class="text-title ranking-details">
                                {{ "app.reviews" | translate }}
                            </ion-row>
                            <ion-row justify-content-center class="text-title">
                                {{ userRankDetails.isRanked ? userRankDetails.numberReviewsMade : ("ranking.reviewOutOf" | translate: reviewParams) }}
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-row justify-content-center class="text-title ranking-details">
                                {{ "app.commits" | translate }}
                            </ion-row>
                            <ion-row justify-content-center class="text-title">
                                {{ userRankDetails.isRanked ? userRankDetails.numberCommitsMade : ("ranking.commitOutOf" | translate: commitParams) }}
                            </ion-row>
                        </ion-col>
                        <ion-col *ngIf="globalSelected" no-padding>
                            <ion-row justify-content-center class="text-title ranking-details">
                                {{ "ranking.agreed" | translate }}</ion-row>
                            <ion-row justify-content-center class="text-title"> {{ userRankDetails.agreed }}%</ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-5 no-padding>
                    <ion-row *ngIf="globalSelected; else globalNotSelectedBlockTwo">
                        <ion-col class="text-title">
                            <ion-row justify-content-center class="ranking-details no-wrap">
                                {{ "ranking.engagementIndex" | translate }}</ion-row>
                            <ion-row justify-content-center>
                                <img src="assets/imgs/chains.svg">
                                <span class="ranking-score">{{ userRankDetails.engagementIndex }}</span>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ng-template #globalNotSelectedBlockTwo>
                        <ion-row no-padding>
                            <ion-col class="no-wrap, reputation">
                                <div>
                                    <span *ngIf="userRankDetails.isRanked; else detailNotRanked"
                                        class="ranking-details--star">{{ userRankDetails.reputation.toFixed(2) }} </span>
                                    <ng-template #detailNotRanked>
                                        <span
                                            class="ranking-details-text text-title--grey">{{ "ranking.noReputation" | translate }}</span>
                                    </ng-template>
                                    <img class="btn--img" src="assets/imgs/star-icon.svg">
                                </div>
                            </ion-col>
                            <ion-col no-padding no-margin class="text-title">
                                <ion-row justify-content-center class="ranking-details no-wrap">
                                    {{ "ranking.engagementIndex" | translate }}</ion-row>
                                <ion-row justify-content-center>
                                    <img class="engagemente-index-chain" src="assets/imgs/chains.svg">
                                    <span *ngIf="userRankDetails.isRanked; else eiNotRanked" class="ranking-score engagement-index">{{ userRankDetails.engagementIndex }}</span>
                                    <ng-template #eiNotRanked>
                                        <span class="ranking-score text-title--grey engagement-index">{{ "ranking.noReputation" | translate }}</span>
                                    </ng-template>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!globalSelected && !userRankDetails.isRanked" justify-content-center padding>
                <ion-col class="not-qualified-display-info" col-8>
                    <div class="tooltip-text" [innerHTML]=" 'ranking.notQualified' | translate:tooltipParams"></div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!globalSelected && userRankDetails.isRanked" justify-content-center padding>
                <ion-col class="not-qualified-display-info" col-8>
                    <div class="tooltip-text" [innerHTML]=" 'ranking.agreedPercentage' | translate:tooltipParams"></div>
                </ion-col>
            </ion-row>
            <ion-row padding></ion-row>
            <achievements-block [isPageLoaded]="isPageLoaded"
                [achievementsUnlocked]="achievementsUnlocked"></achievements-block>       
        </ion-col>
        <ng-template #notShowDetails>
            <ion-col></ion-col>
        </ng-template>
    </ion-row>
</ion-content>