page-ranking {
    .error-message {
        color: red;
    }

    .ico-trophy {
        height: 100px;
    }

    .achievement-box-style {
        background-color: #fff;
        border-radius: 5px;
    }
    .box-height {
        height: 450px;
        overflow-y: scroll;
    }
    .ranked {
        background-color: white;
    }
    .not-ranked {
        background-color: rgb(230, 230, 230);
    }
    .not-qualified-display-info {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
    }

    .achievement-grid-style {
        width: 25%;
    }

    .reputation {
        padding-left: 50px;
    }

    .engagement-index {
        margin-left: 10px;
    }

    .engagemente-index-chain {
        width: 30px;
    }

    .dropdown {
        //Size
        width: 100%;
        line-height: 40px;
        //Font styling
        padding-left: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        //Shape styling
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        border: none;
        //Remove default style
        appearance: none;
        //Dropdown arrow
        background-image: url("../assets/imgs/down-arrow-icon-dep.svg");
        background-size: 10px;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 15px);
        background-position-y: 50%;
    }
}
