page-ranking {
    .error-message {
        color: red;
    }

    .ico-trophy {
        height: 100px;
    }

    .achievement-box-style {
        background-color: #fff;
        border-radius: 5px;
    }

    .box-height {
        height: 450px;
        overflow-y: scroll;

    }
}