page-ranking {
    .error-message {
        color: red;
    }

    .ico-trophy {
        height: 100px;
    }

    .achievement-box-style {
        background-color: #fff;
        border-radius: 5px;
    }
    .box-height {
        height: 450px;
        overflow-y: scroll;
    }
    .ranked {
        background-color: white;
    }
    .not-ranked {
        background-color: rgb(230, 230, 230);
    }
    .not-qualified-display-info {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
    }

    .achievement-grid-style {
        width: 25%;
    }

    .reputation {
        padding-left: 50px;
    }
}
