.error-body {
    background-color: color($colors, dangerLight);
    border: 1px solid color($colors, danger);
}

.success-body {
    background-color: color($colors, primary);
    border: 1px solid color($colors, primary);
}

.msg-body {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
