achievement {
  .ico-trophy {
    height: 100px;

    &.big {
      height: 220px;
    }
  }

  .mega-interrogation {
    font-size: 120px;
    font-weight: bold;
    opacity: 0.1;
  }

  .centered {
    position: absolute;
    top: 56%;
    left: 49%;
    transform: translate(-51%, -49%);

    &.big {
      @supports (-moz-appearance: none) {
        padding-top: 290px;
        padding-right: 45px;
        left: auto;
      }

      @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        left: 190px;
      }

      position: absolute;
      top: 56%;
      transform: translate(-51%, -49%);
    }
  }

  .achievement-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;

    &.big {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .achievement-number {
    max-height: 42px;
    font-size: 40px;
    color: white;
    letter-spacing: -5px;
    font-weight: bold;

    &.big {
      max-height: none;
      font-size: 75px;
      color: white;
      letter-spacing: -5px;
      font-weight: bold;
      padding-left: 320px;
    }
  }

  .achievement-text {
    font-size: 9px;
    font-weight: bold;
    color: white;
    padding-left: 7px;

    &.big {
      font-size: 15px;
      font-weight: bold;
      color: white;
      padding-left: 325px;
    }
  }

  .text-details-big {
    line-height: 25px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
  }

  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 85%;
  }
}
