<ion-content padding>
    <ion-grid>
        <ion-row justify-content-end>
            <ion-icon class="close-icon" name="close" (click)="dismiss()"></ion-icon>
        </ion-row>
        <ion-row [ngClass]="{'tittle-margin': !isCurrentUserAdmin}">
            <h3 no-margin>{{ "setProfile.settings" | translate }}</h3>
        </ion-row>
        <ion-row class="segments" *ngIf="isCurrentUserAdmin">
            <ion-segment [(ngModel)]="settingsCategory">
                <ion-segment-button *ngFor="let category of SETTINGS_CATEGORIES" [value]="category">
                    <ion-label>{{ "setProfile.tabCategory" + category | translate }}</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row no-padding *ngIf="settingsCategory === SETTINGS_CATEGORIES[0]">
            <ion-col col-3>
                <ion-row class="preview-image" justify-center>
                    <avatar *ngIf="imageSelected; else imageNotSelected" [avatarUrl]="avatarData" [isPreview]="true"
                        class="avatar-container">
                    </avatar>
                    <ng-template #imageNotSelected>
                        <div class="container">
                            <avatar [avatarUrl]="avatarObs | async" [isPreview]="true" alt="Avatar" class="image">
                            </avatar>
                            <div class="overlay" (click)="confirmImageRemove()">
                                <ion-icon class="remove-icon" name="close"></ion-icon>
                                <h1 class="remove-text">{{ "setProfile.removeImage" | translate }}</h1>
                            </div>
                        </div>
                    </ng-template>
                </ion-row>
            </ion-col>
            <ion-col col-9 padding align-self-end>
                <form [formGroup]="uploadForm" (ngSubmit)="saveProfileChange(userName)">
                    <ion-list lines="full" class="ion-no-margin ion-no-padding">
                        <ion-item>
                            <ion-label color="dark">{{ "setProfile.userName" | translate }}: </ion-label>
                            <ion-input formControlName="userName" type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <input type="file" (change)="openFile($event)">
                        </ion-item>
                    </ion-list>
                    <ion-row *ngIf="successMsg" class="success-body">
                        {{ successMsg }}
                    </ion-row>
                    <ion-row *ngIf="errorMsg" class="error-body">
                        {{ errorMsg }}
                    </ion-row>
                    <ion-row padding-top justify-content-end>
                        <button type="submit"
                            class="btn save-button btn__blue">{{ "setProfile.save" | translate }}</button>
                    </ion-row>
                </form>

            </ion-col>
        </ion-row>
        <ion-row no-padding *ngIf="isCurrentUserAdmin && settingsCategory === SETTINGS_CATEGORIES[1]">
            <ion-col>
                <h6>{{ "setProfile.changeTeamName" | translate }}</h6>
                <ion-row class="separator">
                    <ion-list lines="full" class="team-name-list">
                        <ion-item>
                            <ion-label color="dark">{{ "setProfile.teamName" | translate }}: </ion-label>
                            <ion-input type="text" [(ngModel)]="teamName"></ion-input>
                        </ion-item>
                        <ion-row *ngIf="successMsg" class="success-body">
                            {{ successMsg }}
                        </ion-row>
                        <ion-row *ngIf="errorMsg" class="error-body">
                            {{ errorMsg }}
                        </ion-row>
                        <ion-item class="team-name-submit">
                            <ion-spinner *ngIf="isSettingTeamName"></ion-spinner>
                            <button type="submit" class="btn save-button btn__blue" (click)="changeTeamName(teamName)"
                                [disabled]="isInvitingUser || isSettingTeamName">
                                {{ "setProfile.changeTeamName" | translate }}
                            </button>
                        </ion-item>
                    </ion-list>
                </ion-row>
                <h6>{{ "setProfile.seasonData" | translate }}</h6>
                <ion-row class="separator">
                    <ion-list lines="full" class="team-name-list">
                        <ion-item *ngIf="isSettingSeason; else notSettingLength">
                                <ion-label color="dark">{{ "setProfile.setSeasonLength" | translate }}: </ion-label>
                                <ion-input type="text" [(ngModel)]="seasonLength"></ion-input>
                                <button item-end (click)="changeSeasonLength(seasonLength)" type="submit" class="btn item-save-button btn__blue">
                                    {{ "setProfile.changeSeasonLength" | translate }}
                                </button>
                        </ion-item>
                        <ng-template #notSettingLength>
                            <ion-item >
                                <ion-label color="dark">{{ "setProfile.teamSeasons" | translate }}:  {{ seasonLength }}</ion-label>
                            </ion-item>
                        </ng-template>
                        <ion-row>
                            <ion-row padding>
                                <h6 color="dark">{{ "setProfile.setSeasonThreshold" | translate }}: </h6>
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-item>
                                            <ion-label color="dark">{{ "setProfile.commitThreshold" | translate }}: </ion-label>
                                            <ion-input type="text" [(ngModel)]="commitThreshold"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-6>
                                        <ion-item>
                                            <ion-label color="dark">{{ "setProfile.reviewThreshold" | translate }}: </ion-label>
                                            <ion-input type="text" [(ngModel)]="reviewThreshold"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-row>

                            <ion-item class="team-name-submit">
                                <button type="submit" class="btn save-button btn__blue" (click)="changeSeasonThreshold(commitThreshold, reviewThreshold)"
                                    [disabled]="isSettingThreshold">
                                    {{ "setProfile.submitChanges" | translate }}
                                </button>
                            </ion-item>
                        </ion-row>
                    </ion-list>
                    <ion-spinner *ngIf="isSettingSeasonData"></ion-spinner>
                    <ion-row *ngIf="seasonSuccessMsg" class="success-body">
                        {{ seasonSuccessMsg }}
                    </ion-row>
                    <ion-row *ngIf="seasonErrorMsg" class="error-body">
                        {{ seasonErrorMsg }}
                    </ion-row>
                </ion-row>
                <h6>{{ "setProfile.inviteEmailsToTeam" | translate }}</h6>
                <ion-row class="separator">
                    <ion-list lines="full" class="team-name-list">
                        <ion-item>
                            <ion-label color="dark">{{ "setProfile.email" | translate }}: </ion-label>
                            <ion-input type="text" [placeholder]="'setProfile.multipleCommaEmailFormat' | translate"
                                [(ngModel)]="invitedEmail"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="dark">{{ "setProfile.memberType" | translate }}</ion-label>
                            <ion-select placeholder="Select One" [(ngModel)]="memberType">
                                <ion-option [value]="MEMBER">{{ "setProfile.member" | translate }}</ion-option>
                                <ion-option [value]="ADMIN">{{ "setProfile.admin" | translate }}</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-row *ngIf="successInviteMsg" class="success-body">
                            {{ successInviteMsg }}
                        </ion-row>
                        <ion-row *ngIf="errorInviteMsg" class="error-body">
                            {{ errorInviteMsg }}
                        </ion-row>
                        <ion-item class="team-name-submit">
                            <ion-spinner *ngIf="isInvitingUser"></ion-spinner>
                            <button type="submit" class="btn save-button btn__blue"
                                (click)="inviteUsersToTeam(invitedEmail, memberType)" [disabled]="isInvitingUser || isSettingTeamName">
                                {{ "setProfile.inviteToTeam" | translate }}
                            </button>
                        </ion-item>
                    </ion-list>
                </ion-row>
                <h6>{{ "setProfile.teamMembers" | translate }}</h6>
                <div class="separator">
                    <ion-row>
                        {{ "setProfile.admins" | translate }}
                    </ion-row>
                    <ion-row>
                        <ion-list lines="full" class="team-name-list">
                            <ion-item *ngFor="let teamMember of teamMembers[0]">
                                <ion-label color="dark">{{ teamMember.email }}</ion-label>
                                <ion-icon *ngIf="teamMember.address !== userAddress" item-right name="trash"
                                    class="trash-icon" (click)="showRemoveMemberConfirmation(teamMember)"></ion-icon>
                            </ion-item>
                        </ion-list>
                    </ion-row>
                    <ion-row>
                        {{ "setProfile.members" | translate }}
                    </ion-row>
                    <ion-row>
                        <ion-list lines="full" class="team-name-list">
                            <ion-item *ngFor="let teamMember of teamMembers[1]">
                                <ion-label color="dark">{{ teamMember.email }}</ion-label>
                                <ion-icon item-right name="trash" class="trash-icon"
                                    (click)="showRemoveMemberConfirmation(teamMember)"></ion-icon>
                            </ion-item>
                            <ion-item *ngIf="teamMembers[1].length <= 0">
                                <ion-label color="dark">{{ 'setProfile.noMemberRegisteredYet' | translate }}</ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-row>
                </div>

                <ion-row class="bitbucket-container">
                    <h6>{{ "setProfile.bitBucketWorkspaces" | translate }}</h6>
                    <div class="tooltip info-icon">
                        <ion-icon name="ios-information-circle-outline"></ion-icon>
                        <div class="tooltip-text" [innerHTML]="('setProfile.workspacesDescription') | translate"></div>
                    </div>
                </ion-row>
                <div class="separator">
                    <div *ngIf="isBackendAvailable; else backendNotAvailable">
                        <ion-row>
                            {{ "setProfile.availableWorkspaces" | translate }}
                        </ion-row>
                        <ion-row>
                            <ion-list lines="full" class="team-name-list">
                                <ion-item *ngFor="let workspace of teamWorkspaces">
                                    <ion-label color="dark">{{ workspace }}</ion-label>
                                    <ion-icon item-right name="trash" class="trash-icon"
                                        (click)="showRemoveWorkspaceConfirmation(workspace)"></ion-icon>
                                </ion-item>
                                <ion-item *ngIf="teamWorkspaces.length <= 0">
                                    <ion-label color="dark">{{ 'setProfile.noWorkspaceAvailableYet' | translate }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-row>
                        <ion-row *ngIf="workspaceSuccessMsg" class="success-body">
                            {{ workspaceSuccessMsg }}
                        </ion-row>
                        <ion-row *ngIf="workspaceErrorMsg" class="error-body">
                            {{ workspaceErrorMsg }}
                        </ion-row>
                        <ion-row>
                            {{ "setProfile.addNewWorkspace" | translate }}
                        </ion-row>
                        <ion-list lines="full" class="team-name-list">
                            <ion-item>
                                <ion-label color="dark">{{ "setProfile.workspaceName" | translate }}: </ion-label>
                                <ion-input type="text" [(ngModel)]="newTeamWorkspace"></ion-input>
                            </ion-item>
                            <ion-item class="team-name-submit">
                                <ion-spinner *ngIf="isSettingWorkspace"></ion-spinner>
                                <button type="submit" class="btn save-button btn__blue" (click)="addNewWorkspace(newTeamWorkspace)">
                                    {{ "setProfile.addNewWorkspace" | translate }}
                                </button>
                            </ion-item>
                        </ion-list>
                    </div>
                    <ng-template #backendNotAvailable>
                        <ion-row>
                            {{ "setProfile.backendNotAvailable" | translate }}
                        </ion-row>
                    </ng-template>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>