profile {
    .title {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }

    .upload-form {
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .preview-image {
        max-width: 150px;
    }

    .save-button {
        width: 50%;
    }

    .close-icon {
        font-size: 30px;
    }

    .error-body {
        background-color: color($colors, dangerLight);
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid color($colors, danger);
        color: white;
        margin: 5px;
    }
}

.profile .popover-content {
    width: 50%;
    border-radius: 10px;
    .scroll-content {
        overflow-y: hidden;
        padding: 0;
    }
}

.avatarImage {
  opacity: 1;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  color: white;
}

.avatarContainer:hover .avatarImage {
  opacity: 1;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.avatarContainer:hover .middle {
  opacity: 1;
}
