profile {
    ion-item .label {
        height: 50px;
    }

    .trash-icon {
        color: gray;
    }

    .trash-icon:hover {
        color: black;
        cursor: pointer;
    }

    .team-name-list {
        width: 100%;
    }

    .team-name-submit {
        text-align: end;
    }

    .segments {
        margin-bottom: 20px;
    }

    .tittle-margin {
        margin-bottom: 30px;
    }

    .upload-form {
        padding-bottom: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .preview-image {
        max-width: 150px;
    }

    .save-button {
        width: 50%;
    }

    .item-save-button {
        width: 25%;
    }

    .save-threshold-button {
        width: 75%;
    }

    .close-icon {
        font-size: 30px;
    }

    .close-icon:hover {
      cursor: pointer;
    }

    .success-body {
        background-color: color($colors, primary);
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid color($colors, primary);
        color: white;
        margin: 5px;
    }

    .hor-separator {
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .separator {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .error-body {
        background-color: color($colors, dangerLight);
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid color($colors, danger);
        color: white;
        margin: 5px;
    }

    .container {
        position: relative;
        width: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        background-color: color($colors, danger);
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        opacity: 0;
    }

    .container:hover .overlay {
        cursor: pointer;
        opacity: 0.9;
    }

    .remove-icon {
        color: white;
        font-size: 80px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .remove-text {
        color: white;
        font-size: 14px;
        position: absolute;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .user-name-input {
        color: black;
    }

    .bitbucket-container {
        padding-top: 15px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        margin-left: 7px;
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        width: 160px;
        background-color: rgba(255, 255, 255, 1);
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        top: -30px;
        margin-left: 30px;
        font-size: 12px;

        position: absolute;
        z-index: 1;
    }

    .tooltip .tooltip-text::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }

    .info-icon {
        font-size: 14px;
        color: #0D4972;
    }
}

.profile .popover-content {
    width: 50%;
    min-width: 715px;
    border-radius: 10px;
    top: 5% !important;
    .scroll-content {
        overflow-y: hidden;
        padding: 0;
    }
}
