<ion-content padding>
    <ion-grid>
        <ion-row justify-content-end>
            <ion-icon class="close-icon" name="close" (click)="dismiss()"></ion-icon>
        </ion-row>
        <ion-row justify-content-center class="title">
            <h1>{{ "setProfile.profile" | translate }}</h1>
        </ion-row>
        <ion-row no-padding>
            <ion-col col-3>
                <ion-row class="preview-image" justify-center>
                    <avatar *ngIf="imageSelected; else imageNotSelected" [avatarUrl]="avatarData" [isPreview]="true" class="avatar-container">
                    </avatar>
                    <ng-template #imageNotSelected>
                        <div class="container">
                            <avatar [avatarUrl]="avatarObs | async" [isPreview]="true" alt="Avatar" class="image"></avatar>
                            <div class="overlay" (click)="confirmImageRemove()">
                                <ion-icon class="remove-icon" name="close"></ion-icon>
                                <h1 class="remove-text">{{ "setProfile.removeImage" | translate }}</h1>
                            </div>
                        </div>
                    </ng-template>
                </ion-row>
            </ion-col>
            <ion-col col-9 padding align-self-end>
                <form [formGroup]="uploadForm" (ngSubmit)="saveProfileChange(userName)">
                    <ion-list lines="full" class="ion-no-margin ion-no-padding">
                       <ion-item>
                            <ion-label color="dark">{{ "setProfile.userName" | translate }}: </ion-label>
                            <ion-input formControlName="userName" type="text"></ion-input>
                       </ion-item>
                       <ion-item>
                            <input type="file" (change)="openFile($event)">
                       </ion-item>
                    </ion-list>
                    <ion-row *ngIf="successMsg" class="success-body">
                        {{ successMsg }}
                    </ion-row>
                    <ion-row *ngIf="errorMsg" class="error-body">
                        {{ errorMsg }}
                    </ion-row>
                    <ion-row padding-top justify-content-end>
                        <button type="submit" class="btn save-button btn__blue">{{ "setProfile.save" | translate }}</button>
                    </ion-row>
                </form>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>