achievement-popover {

    h1 {
        font-size: 50px;
    }


    .header-text {
        color: white;
        font-weight: bold;
    }

    .header-space {
        margin-bottom: 30px;
    }

    .button-space {
        margin-top: 50px;
    }

    .home-button {
        margin-top: 60px;
    }

}

.achievement-popover {

    .popover-md {
        top: 60px;
        width: 400px;
    }

    .popover-content {
        top: 60px;
        width: 400px;
        background: transparent;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;

        ion-content {
            background: transparent;
            background-color: transparent;

            .scroll-content {
                overflow: hidden;
            }
        }
    }
}
