achievement-popover {

    h1 {
        font-size: 50px;
    }


    .header-text {
        color: white;
        font-weight: bold;
    }

    .header-space {
        margin-bottom: 30px;
    }

    .button-space {
        margin-top: 50px;
    }

    .home-button-sharing {
        margin-top: 12px;
        margin-left: 400px;
    }

    .home-button-not-sharing {
        margin-top: 12px;
        margin-left: 190px;
    }

    .share-button {
        margin-left: 30px;
    }

    .tweet {
        margin: 0px 10px;
        padding-top: 3px;
    }
}

.achievement-popover {

    .popover-md {
        top: 60px;
        width: 1024px;
    }

    .popover-content {
        top: 60px;
        width: 1024px;
        background: transparent;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;

        ion-content {
            background: transparent;
            background-color: transparent;

            .scroll-content {
                overflow: hidden;
            }
        }
    }
}


