# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.csv
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
package-lock.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate



Boot-script\.sh

backend/node_modules
backend/brightbyte-user-db.json
backend/brightbyte-achievement-db.json
backend/brightbyte-event-db.json
backend/src/backend.config.custom.ts

build/

public/
