page-tabs {
    .menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgb(40, 47, 58);
        .menu {
            width: 70px;
            text-align: center;
        }
        .avatar-container {
            display: inline-block;
            border-radius: 50%;
        }
        .avatar-icon {
            background-color: transparent;
            text-align: center;
        }
        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100px;
            background-color: #1d222b;
        }
        .logo {
            width: 35px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .logout-container {
            flex: 1;
            position: relative;
            .logout {
                position: absolute;
                bottom: 0px;
            }
        }
        .menu-buttons-col {
            display: flex;
            flex-direction: column;
        }
        .tab-button {
            font-size: 20px;
            width: 100%;
            height: 60px;
            margin-bottom: 20px;
            color: rgba(255, 255, 255, 0.5);
            background-color: transparent;
        }
        .tab-button.selected {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
            border-left: 5px solid color($colors, grass);
        }
        .tab-button:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}