page-tabs {
    .menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #2d323e;
        .menu {
            width: 100px;
            background-color: #2d323e;
            text-align: center;
        }
        .avatar-container {
            display: inline-block;
        }
        .avatar {
            background-color: transparent;
            text-align: center;
        }
        .logo-container {
            background-color: #1e232e;
        }
        .logo {
            width: 50px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .logout-container {
            flex: 1;
            position: relative;
            .logout {
                position: absolute;
                bottom: 0;
            }
        }
    }
}