doctype html
html
  head
  body
    div Hello fellow developer!
    div You have been invited to participate on a BrightByte team.
    div Register and join the team:
    a(href="http://cloud.brightbyteapp.com/") Participate Now.
    div To get more details about this tool that will boost you habilities as a developer, don't hesitate to <a href="http://brightbyteapp.com/">visit our website</a>
    div See you soon!
    div Regards,
    div &nbsp;&nbsp;The BrightByte team.