doctype html
html
  head
  body
    div Hi my fellow teammate!
    div You have #{numOfCommits} pending commits to review in you BrightByte team: #{teamName}.
    div Review now your commits and continue improving you knowledge with <a href="http://cloud.brightbyteapp.com">BrightByte</a>
    div See you soon!
    div Regards,
    div The BrightByte team.