popover-addcommit {
    .error-message {
        color: red;
    }
    .dropdown {
        //Size
        width: 100%;
        line-height: 40px;
        //Font styling
        padding-left: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        //Shape styling
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        border: none;
        //Remove default style
        appearance: none;
    }
    .dropdown__arrow {
        //Dropdown arrow
        background-image: url("../assets/imgs/down-arrow-icon-dep.svg");
        background-size: 10px;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 15px);
        background-position-y: 50%;
    }
    .dropdown__search {
        //Dropdown search
        background-image: url("../assets/imgs/search-icon.svg");
        background-size: 15px;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        background-position-y: 50%;
    }
    .list-card {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-container {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 5px 5px;
    }
    .form-container__form-top-rounded {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .scroll-content {
        overflow-y: hidden;
    }
}

ion-backdrop {
    background-color: black;
    opacity: 0.8;
}

.add-commit-popover .popover-content {
    width: 50%;
    height: calc(100% - 300px);
    border-radius: 10px;
    top: 150px !important;
    left: 25% !important;
    .scroll-content {}
}

.custom-spinner {
    text-align: center;
    padding-top: 10px;
}

.custom-container-next-repos {
    text-align: center;
    padding-top: 10px;
}

.custom-text-next-repos {
    padding-right: 5px;
}

.text-opacity {
    opacity: 0.6;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 7px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: -30px;
    margin-left: 30px;
    font-size: 12px;

    position: absolute;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.info-icon {
    font-size: 14px;
    color: #0D4972;
}

