<ion-content padding>
    <ion-row padding *ngIf="commitMethod === 'url'; else addCommitByBatchTitle" class="text-title">{{ "addCommit.add" | translate }}</ion-row>
    <ng-template #addCommitByBatchTitle>
        <ion-row padding>
            <ion-row class="text-title">{{ "addCommit.addByBatch" | translate }}</ion-row>
            <div class="tooltip info-icon">
                <ion-icon name="ios-information-circle-outline"></ion-icon>
                <div class="tooltip-text">{{ "addCommit.batchDateDescription" | translate:  {seasonStart: isoStartDate} }}</div>
            </div>
        </ion-row>
    </ng-template>
    <ion-segment [(ngModel)]="commitMethod" (ionChange)="setUploadMethodAndProceed($event.value)">
        <ion-segment-button *ngFor="let upMethod of [ 'url', 'batch']" [value]="upMethod">
          <ion-label>{{ "addCommit.tabSelection-" + upMethod | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>

    <ion-row padding *ngIf="commitMethod === 'url'" class="form-container">
        <form class="form-style" id="addform" [formGroup]="myForm" (ngSubmit)="addCommit(formUrl, formTitle)" novalidate>
            <ion-row class="text-details text-details--bold">
                {{ "addCommit.titleCommit" | translate }}:
            </ion-row>
            <ion-row>
                <input class="form-input" formControlName="title" type="text" placeholder="{{ 'addCommit.inputTitle' | translate }}" [(ngModel)]="formTitle">
            </ion-row>
            <ion-row *ngIf="myForm.get('title').errors && myForm.get('title').dirty">
                <div class="label label__error" *ngIf="myForm.get('title').hasError('required')">{{ "addCommit.fieldRequire" | translate }}</div>
            </ion-row>
            <ion-row class="text-details text-details--bold">URL:</ion-row>
            <ion-row>
                <input class="form-input" formControlName="url" type="text" placeholder="URL" [(ngModel)]="formUrl">
            </ion-row>
            <ion-row *ngIf="myForm.get('url').errors && myForm.get('url').dirty">
                <div class="label label__error" *ngIf="myForm.get('url').hasError('required')">{{ "addCommit.fieldRequire" | translate }}</div>
                <div class="label label__error" *ngIf="myForm.get('url').hasError('pattern')">{{ "addCommit.notUrl" | translate }}</div>
            </ion-row>
            <ion-spinner [hidden]="!isTxOngoing"></ion-spinner>
        </form>
    </ion-row>

    <ion-row padding *ngIf="commitMethod === 'batch'" class="form-container">

        <ion-col *ngIf="isBatchLogged; else notLogged">
            <ion-list radio-group [(ngModel)]="repoSelection">
                <ion-item-divider>
                    <ion-label class="text-title text-details--bold">{{ "addCommit.batchUploadTitle" | translate }}</ion-label>
                </ion-item-divider>
                <div>
                    <ion-item *ngFor="let selectedRepo of selectedRepositories">  
                        <ion-radio item-left [value]="selectedRepo"></ion-radio>
                        <ion-label item-center class="text-details text-details--bold">{{ selectedRepo.name }}  ({{ selectedRepo.provider }})</ion-label>
                        <ion-label  item-right class="text-details text-details--bold"> {{ "addCommit.batchUploadPendingCommitsText" | translate: selectedRepo }}</ion-label>                                        
                    </ion-item>
                </div>
                <div class="custom-spinner" *ngIf="showSpinner">
                    <ion-spinner name="circles"></ion-spinner>
                </div>
                <div *ngIf="!areProvidersWorking && isFinishedLoadingRepo">
                    <ion-label item-right class="text-details text-details--bold"> {{ "addCommit.providersNotWorking" | translate }} </ion-label>                
                </div>
                <div *ngIf="!hasNewCommits && isFinishedLoadingRepo">
                    <ion-label item-right class="text-details text-details--bold"> {{ "addCommit.noNewCommits" | translate }} </ion-label>                
                </div>
                <div *ngIf="!showNextReposOption && hasNewCommits && isFinishedLoadingRepo" class="custom-container-next-repos">
                    <ion-label item-center class="text-details text-details--bold text-opacity"> {{ "addCommit.noMoreRepo" | translate }} </ion-label>                
                </div>
                <div *ngIf="hasNewCommits && showNextReposOption" class="custom-container-next-repos">
                    <ion-label item-center class="text-details text-details--bold"> {{ "addCommit.loadMoreRepositoriesMessage" | translate }} </ion-label>
                    <button ion-button class="btn btn__blue" [disabled]="showSpinner || isUpdatingByBatch" (click)="loadNextRepos()">
                        <span class="custom-text-next-repos"> {{ "addCommit.loadMoreRepositoriesButtonText" | translate }} </span>
                        <ion-icon name="refresh"></ion-icon>
                    </button>
                </div>
            </ion-list>
        </ion-col>
        <ng-template #notLogged>
            <ion-col *ngIf="!isServiceAvailable && !areProvidersWorking">
                <ion-label> {{ "addCommit.providerServiceNotAvailable" | translate }} </ion-label>
            </ion-col>
        </ng-template>
    </ion-row>

    <ion-row padding></ion-row>

    <ion-row padding class="form-container form-container__form-top-rounded">
        <ion-col>
            <ion-row class="text-details text-details--bold">{{ "addCommit.users" | translate }}:</ion-row>
            <div class="custom-spinner" *ngIf="!isReady; else isReady">
                <ion-spinner name="circles"></ion-spinner>
            </div>
            <ng-template #isReady>
                <ng-container *ngIf="!isRandomReviewers ; else randomReview">
                    <ion-row>
                        <input [(ngModel)]="searchInput" type="text" class="dropdown dropdown__search" (ngModelChange)="refreshSearchbar()" placeholder="email@example.com">
                    </ion-row>
                    <ion-row class="text-description list-card" *ngFor="let item of arraySearch" (click)="setEmailFromList(item)">
                        {{ item }}
                    </ion-row>
                </ng-container>
                <ng-template #randomReview>
                    <ion-row>
                        <div class="text-details text-details--bold">{{ "addCommit.noAvailableSelectReviewers" | translate }}</div>
                        <div class="tooltip info-icon">
                            <ion-icon name="ios-information-circle-outline"></ion-icon>
                            <div class="tooltip-text">{{ "addCommit.randomReviewersDescription" | translate }}</div>
                        </div>
                    </ion-row>
                </ng-template>
            </ng-template>
        </ion-col>
    </ion-row>
    <ion-row padding></ion-row>
    <div *ngIf="!isRandomReviewers" padding class="form-container form-container__form-top-rounded">
        <div class="text-details text-details--bold">{{ "addCommit.selectedReviewers" | translate }}:</div>
        <div>
            <ion-col no-padding *ngFor="let item of userAdded; let j = index">
                <button class="btn btn--label btn--margins btn__grey" [disabled]="isRandomReviewers" (click)="removeUser(j)">{{ item }}</button>
            </ion-col>
        </div>
    </div>
    <ion-row padding></ion-row>
    <ion-row *ngIf="msg">
        <div class="label label__error">{{ msg }}</div>
    </ion-row>
    <div class="custom-spinner" *ngIf="isTxOngoing && commitMethod === 'url'">
        <ion-spinner name="circles"></ion-spinner>
    </div>
    <progress-bar *ngIf="isUpdatingByBatch" [progress] = "updatingProgress"></progress-bar> 
    <ion-row>
        <button *ngIf="commitMethod === 'url'" class="btn btn--full btn__blue" type="submit" form="addform" [disabled]="myForm.invalid || isTxOngoing">{{ "addCommit.title" | translate }}</button>
        <button *ngIf="commitMethod === 'batch'" class="btn btn--full btn__blue" type="submit" [disabled]="!(repoSelection) || isUpdatingByBatch || showSpinner" (click)="addRepoStartingFrom(repoSelection)">{{ "addCommit.importCommits" | translate }}</button>
    </ion-row>
</ion-content>