achievement-popover {

    h1 {
        font-size: 50px;
    }


    .header-text {
        color: white;
        font-weight: bold;
    }

    .header-space {
        margin-bottom: 30px;
    }

    .button-space {
        margin-top: 50px;
    }

    .home-button {
        margin-top: 60px;
    }

}