<td>
    <ion-row padding class="text-details text-details--bold"> {{ userPosition }} </ion-row>
</td>
<td>
    <ion-row justify-content-center>
        <img class="box-avatar" src="http://identicon.org?t={{ name }}">
    </ion-row>
</td>
<td>
    <ion-row class="text-title"> {{ name }} </ion-row>
    <ion-row class="text-description no-wrap"> {{ email }} </ion-row>
</td>
<td>
    <div align-items-center *ngIf="globalSelected; else elseBlock">
        <ion-row justify-content-center class="text-title">{{ engagementIndex }}</ion-row>
        <ion-row justify-content-center class="text-description">Engagement Index</ion-row>
    </div>
    <ng-template aling-item-center #elseBlock>
        <ion-col class="text-title text-title--yellow"> {{ reputation }} </ion-col>
        <ion-col>
            <img class="ico ico__big" src="../../assets/imgs/star-icon.svg">
        </ion-col>
    </ng-template>

</td>
<td>
    <ion-row justify-content-center class="text-title">{{ numReviews }}</ion-row>
    <ion-row justify-content-center class="text-description">{{ "app.reviews" | translate }}</ion-row>
</td>
<td>
    <ion-row justify-content-center class="text-title">{{ numCommits }}</ion-row>
    <ion-row justify-content-center class="text-description">{{ "app.commits" | translate }}</ion-row>
</td>
<td>
    <ion-row justify-content-center class="text-title">{{ agreed }}%</ion-row>
    <ion-row justify-content-center class="text-description">{{ "ranking.agreed" | translate }}</ion-row>
</td>