<td class="text-title align-middle rank-number">{{ userPosition }}</td>
<td class="avatar-container">
    <div class="avatar-icon">
        <img src="http://identicon.org?t={{ name }}">
    </div>
</td>
<td class="name-container">
    <div class="details-container">
        <div class="text-title"> {{ name }} </div>
        <div class="text-description no-wrap"> {{ email }} </div>
    </div>
</td>
<td>
    <div class="rating-container">
        <div class="rate-title"> {{ reputation }} </div>
        <img class="rate-img" src="../../assets/imgs/star-icon.svg">
    </div>
</td>
<td>
    <div class="info-container">
        <div class="text-info">{{ numReviews }}</div>
        <div class="text-subtitle">{{ "ranking.reviews" | translate }}</div>
    </div>
</td>
<td>
    <div class="info-container separations">
        <div class="text-info">{{ numCommits }}</div>
        <div class="text-subtitle">{{ "ranking.commits" | translate }}</div>
    </div>
</td>
<td>
    <div class="info-container">
        <div class="text-info">{{ agreed }}%</div>
        <div class="text-subtitle">{{ "ranking.agreed" | translate }}</div>
    </div>
</td>