.content-color {
    background-color: rgb(246, 247, 251);
}

.status-pending {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fc5661;
}

.status-not-pending {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0acf97;
}

.col-first {
    .coder-class {
        margin-left: 15px;
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        color: #ff4c52;
    }
    .level {
        margin-left: 15px;
        font-size: 15px;
        line-height: 30px;
        color: #526069;
    }
}

.avatar-col {
    margin-left: 15px;
    height: 80px;
    width: auto;
    border-radius: 50%;
}

.username-title {
    margin-left: 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #3e8ef7;
}

.text-table {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #526069;
}

.text-agreed {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #0acf97;
}

.notifications {
    color: white;
    background-color: #ff4c52;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-container {
    margin-top: 15px;
}

.reviews-information {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #3e8ef7;
    color: #3e8ef7;
    background-color: transparent;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-information:hover {
    background-color: #3e8ef7;
    color: white;
}

.reviewer-icon {
    margin-right: 10px;
    height: 40px;
}

.view-button {
    margin-top: 15px;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #3e8ef7;
    background-color: transparent;
    color: #3e8ef7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button:hover {
    background-color: #3e8ef7;
    color: white;
}