<ion-grid padding class="main-style">
    <ion-col col-12>
        <ion-row *ngIf="!isReviewNeeded" class="card-criterial-border card-criterial-padding-top">
            <ion-col col-3 class="criterial-border">
                <ion-row>
                    <ion-col>
                        <img class="box-avatar box-avatar__big" src="http://identicon.org?t={{ review.name }}">
                    </ion-col>
                    <ion-col>
                        <ion-row no-padding class="criterial-border">
                            <ion-row class="text-user-review">{{ review.name }}</ion-row>
                            <ion-row class="text-details">{{ review.lastModificationDateMs | dateFormat }}</ion-row>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-3 class="criterial-border" *ngFor="let critName of [ 'codeQuality', 'difficulty', 'reviewerExperience']" no-padding>
                <ion-row  justify-content-center  class="criterial-text">{{ ("review." + critName) | translate }}</ion-row>
                <custom-rating class="right" [rate]="review[critName]" [max]="critName !== 'codeQuality' ? 3 : undefined" [setStars]="false" [starPadding]="critName !== 'codeQuality'" [small]="true"></custom-rating>
                <ion-row>
                    <ion-col class="tooltip">
                        <p class="tooltip-text-open">{{ "commitDetails.whatIs" | translate }}</p>
                        <div  class="tooltip-text" [innerHTML]="('commits.' + critName + 'Description') | translate"></div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isReviewNeeded" padding class="text-description card">
            {{ review.text }}
        </ion-row>
        <ion-col *ngIf="isReviewNeeded">
            <ion-row class="text-title">{{ "commitReview.setYourReview" | translate }}</ion-row>
            <ion-row>
                <ion-textarea [placeholder]="('commitReview.description') | translate" (ionChange)="textComment = $event.value"></ion-textarea>
            </ion-row>
        </ion-col>
        <ion-row *ngIf="isReviewNeeded" justify-content-center [ngClass]="{'card-criterial-border': !isReviewNeeded}" class="card-criterial-padding-top">
            <ion-col col-3 class="criterial-border" *ngFor="let critName of [ 'codeQuality', 'difficulty', 'reviewerExperience'], let i = index" no-padding>
                <ion-row  justify-content-center  class="criterial-text">{{ ("review." + critName) | translate }}</ion-row>
                <custom-rating class="right" [rate]="0" (value)="points[i]=$event" [max]="critName !== 'codeQuality' ? 3 : undefined" [setStars]="true" [starPadding]="critName !== 'codeQuality'" [small]="true"></custom-rating>  
                <ion-row>
                    <ion-col class="tooltip">
                        <p class="tooltip-text-open">{{ "commitDetails.whatIs" | translate }}</p>
                        <div  class="tooltip-text" [innerHTML]="('commits.' + critName + 'Description') | translate"></div>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-3 class="criterial-border center-button">
                <button class="btn btn--full btn__blue" (click)="validateAndSetReview(textComment)">
                    {{ "commitReview.review" | translate }}
                </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="submitError != ''">
            <div class="error-body">
                {{ submitError }}
            </div>
        </ion-row>
    </ion-col>
    <ion-col col-12 *ngIf="isReviewPage && !isReviewNeeded">
        <ion-row padding *ngIf="review.vote==0">
            <button class="btn btn--full btn__blue">  {{ "review.noVote" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==1">
            <button class="btn btn--full btn__blue">  {{ "review.positiveVote" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==2">
            <button class="btn btn--full btn__red"> {{ "review.negativeVote" | translate }}</button>
        </ion-row>
    </ion-col>
    <ion-col col-12 *ngIf="!isReviewPage && !isReviewNeeded">
        <ion-row *ngIf="review.vote==0">
            <ion-col col-4>
                <button class="btn btn--full btn__blue" (click)="setThumbsUp()">{{ "commits.agree" | translate }}</button>
            </ion-col>
            <ion-col col-4 offset-4>
                <button class="btn btn--full btn__red" (click)="setThumbsDown()">{{ "commits.disagree" | translate }}</button>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col text-right>
                <a class="complaint-text" (click)="setComplaint()">
                    {{ "commitDetails.reportAbuse" | translate }}
                </a>
            </ion-col>
        </ion-row>
        <ion-row padding *ngIf="review.vote==1">
            <button class="btn btn--full btn__blue">  {{ "commits.ratedAgree" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==2">
            <button class="btn btn--full btn__red"> {{ "commits.ratedDisagree" | translate }}</button>
        </ion-row>
    </ion-col>

</ion-grid>