comment {
    .padding-bottom {
        padding-bottom: 12px;
    }

    .padding-top {
        padding-top: 10px;
    }

    .average-text {
        font-size: 15px;
    }
    .error-message {
        color: red;
    }

    .error-body {
        background-color: color($colors, dangerLight);
        text-align: center;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid color($colors, danger);
        color: white;
        margin: 5px;
    }

    .center-button {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-user-review {
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
    }

    .complaint-text {
        color: black;
    }
}
