<ion-grid padding class="main-style">
    <ion-col col-12>
        <ion-row *ngIf="!isReviewNeeded">
            <ion-col padding col-auto>
                <img class="box-avatar box-avatar__big" src="http://identicon.org?t={{ review.name }}">
            </ion-col>
            <ion-col padding align-items-center>
                <ion-row no-padding class="criterial-border">
                    <ion-col col-auto class="text-title">{{ review.name }}</ion-col>
                    <ion-col class="text-details">{{ review.lastModificationDateMs | dateFormat }}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isReviewNeeded" padding class="text-description card">
            {{ review.text }}
        </ion-row>
        <ion-row *ngIf="!isReviewNeeded" class="card-criterial-border card-criterial-padding-top">
                <ion-col col-4 class="criterial-border" *ngFor="let critName of [ 'cleanCode', 'difficulty', 'reviewerExperience']" no-padding>
                        <ion-row  justify-content-center  class="criterial-text">{{ ("review." + critName) | translate }}</ion-row>
                        <custom-rating *ngIf="critName === 'cleanCode'" class="right" [rate]="review[critName]" [setstars]="false" [small]="true"></custom-rating>
                        <custom-rating *ngIf="critName !== 'cleanCode'" class="right" [rate]="review[critName]" [max]="3" [setstars]="false" [starPadding]="true" [small]="true"></custom-rating>  
                        <ion-row class="tooltip-text-open" justify-content-center tooltip [tooltipHtml]="('commits.' + critName + 'Description') | translate" positionV="bottom" arrow hideOthers="true"><p>{{ "commitDetails.whatIs" | translate }}</p></ion-row>   
                </ion-col>
        </ion-row>
        <ion-col *ngIf="isReviewNeeded">
            <ion-row class="text-title">{{ "commitReview.setYourReview" | translate }}</ion-row>
            <ion-row>
                <ion-textarea placeholder="{{ ('commitReview.description') | translate }}" (ionChange)="textComment = $event.value"></ion-textarea>
            </ion-row>
        </ion-col>
        <ion-row *ngIf="isReviewNeeded" justify-content-center [ngClass]="{'card-criterial-border': !isReviewNeeded}" class="card-criterial-padding-top">
                <ion-col col-3 class="criterial-border" *ngFor="let critName of [ 'cleanCode', 'difficulty', 'reviewerExperience'], let i = index" no-padding>
                        <ion-row  justify-content-center  class="criterial-text">{{ ("review." + critName) | translate }}</ion-row>
                        <custom-rating *ngIf="critName === 'cleanCode'" class="right" [rate]="0" (value)="points[i]=$event" [setstars]="true" [small]="true"></custom-rating>
                        <custom-rating *ngIf="critName !== 'cleanCode'" class="right" [rate]="0" (value)="points[i]=$event" [max]="3" [setstars]="true" [starPadding]="true" [small]="true"></custom-rating>  
                        <ion-row class="tooltip-text-open" justify-content-center tooltip [tooltipHtml]="('commits.' + critName + 'Description') | translate" positionV="bottom" arrow hideOthers="true"><p>{{ "commitDetails.whatIs" | translate }}</p></ion-row>   
                </ion-col>
                <ion-col col-3 class="criterial-border center-button">
                    <button class="btn btn--full btn__blue" (click)="validateAndSetReview(textComment)">
                        {{ "commitReview.review" | translate }}
                    </button>
                </ion-col>
        </ion-row>
        <ion-row *ngIf="submitError != ''">
            <div class="error-body">
                {{ submitError }}
            </div>
        </ion-row>
    </ion-col>
    <ion-col col-12 *ngIf="isReviewPage && !isReviewNeeded">
        <ion-row padding *ngIf="review.vote==0">
            <button class="btn btn--full btn__blue">  {{ "review.noVote" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==1">
            <button class="btn btn--full btn__blue">  {{ "review.positiveVote" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==2">
            <button class="btn btn--full btn__red"> {{ "review.negativeVote" | translate }}</button>
        </ion-row>
    </ion-col>
    <ion-col col-12 *ngIf="!isReviewPage && !isReviewNeeded">
        <ion-row padding *ngIf="review.vote==0">
            <ion-col col-5>
                <button class="btn btn--full btn__blue" (click)="setThumbsUp()">{{ "commits.agree" | translate }}</button>
            </ion-col>
            <ion-col col-5>
                <button class="btn btn--full btn__red" (click)="setThumbsDown()">{{ "commits.disagree" | translate }}</button>
            </ion-col>
            <ion-col col-2>
                <button class="btn btn--full btn__yellow" (click)="setComplain()">
                    <ion-icon name="warning"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row padding *ngIf="review.vote==1">
            <button class="btn btn--full btn__blue">  {{ "commits.ratedAgree" | translate }}</button>
        </ion-row>
        <ion-row padding *ngIf="review.vote==2">
            <button class="btn btn--full btn__red"> {{ "commits.ratedDisagree" | translate }}</button>
        </ion-row>
    </ion-col>

</ion-grid>