<h4>{{ "setProfile.bitBucketWorkspaces" | translate }}</h4>
<ion-row class="explanation-text">{{ "setProfile.workspacesFullDescription" | translate }}</ion-row>
<ion-row class="mini-title">{{ "setProfile.addNewWorkspace" | translate }}</ion-row>
<input class="password-form" type="text" [placeholder]="'setProfile.workspaceName' | translate" [(ngModel)]="workspace">
<ion-row *ngIf="errorWorkspaceMsg">
    <ion-row class="error-body">
        {{ errorWorkspaceMsg }}
    </ion-row>
</ion-row>
<div class="buttons">
    <button class="btn btn--full btn__blue" [disabled]="!workspace || errorWorkspaceMsg" (click)="addWorkspace()">{{ "setProfile.addWorkspace" | translate }}</button>
    <div class="separator"></div>
</div>
<h4>{{ "setProfile.githubOrganizations" | translate }}</h4>
<ion-row class="explanation-text">{{ "setProfile.organizationsFullDescription" | translate }}</ion-row>
<ion-row class="mini-title">{{ "setProfile.addNewOrganization" | translate }}</ion-row>
<input class="password-form" type="text" [placeholder]="'setProfile.organizationName' | translate" [(ngModel)]="organization">
<ion-row *ngIf="errorOrganizationMsg">
    <ion-row class="error-body">
        {{ errorOrganizationMsg }}
    </ion-row>
</ion-row>
<div class="buttons">
    <button class="btn btn--full btn__blue" [disabled]="!organization || errorOrganizationMsg" (click)="addOrganization()">{{ "setProfile.addOrganization" | translate }}</button>
    <div class="separator"></div>
</div>
<div class="buttons">
    <button class="btn btn--full btn__blue" (click)="goToTabsPage()">{{ "setProfile.continue" | translate }}</button>
</div>