<ion-header>
	<ion-navbar>
		<ion-title>
			{{ "commitDetails.title" | translate }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<a target="_blank" href="{{ commitDetails.url }}">{{ commitDetails.url }}</a>
	<p>{{ "commitDetails.titleCommit" | translate }}: {{ commitDetails.title }}</p>
	<p>{{ "commitDetails.author" | translate }}: {{ commitDetails.author }}</p>
	<p>{{ "commitDetails.date" | translate }}: {{ commitDetails.timestampMs | date:"fullDate" }}</p>
	<p>{{ "commitDetails.project" | translate }}: {{ project }}</p>
	<p>{{ "commitDetails.nReviews" | translate }}: {{ commitDetails.numberReviews }}</p>
	<p>{{ "commitDetails.pReviews" | translate }}: {{ commitDetails.isPending }}</p>
	<p>{{ "commitDetails.currrentNReviews" | translate }}: {{ commitDetails.currentNumberReviews }}</p>
	<p class="error-message">{{ msg }}</p>
	<ion-list inset>
		<ion-item *ngFor="let comment of commentsArray; let i = index">
			<p>{{ comment.name }} {{ "commitDetails.commented" | translate }} ({{ comment.score }} {{ "commitDetails.stars" | translate }}):
				<button ion-button icon-only (click)="setThumbs(i, 2)" *ngIf="comment.vote==0 && !isButtonPressArray[i]">
						<ion-icon name="thumbs-up"></ion-icon>
				</button>
				<button ion-button icon-only (click)="setThumbs(i, 1)" *ngIf="comment.vote==0 && !isButtonPressArray[i]">
						<ion-icon name="thumbs-down"></ion-icon>
				</button>
				<ion-icon name="thumbs-up" *ngIf="comment.vote==2"></ion-icon>
				<ion-icon name="thumbs-down" *ngIf="comment.vote==1"></ion-icon>
				<ion-spinner [hidden]="!isButtonPressArray[i]"></ion-spinner>
			</p>
			<p>{{ comment.text }}</p>
		</ion-item>
	</ion-list>
</ion-content>