<ion-row  justify-content-center *ngIf="setStars; else divStars">
    <button class="icon-style" *ngFor="let id of iconIds" (click)="setReputation(id)">
        <ion-icon [ngClass]="{'icon-small': small,'custom-icon-padding': iconPadding, iconColor: true}" name="{{ icons[id] }}"></ion-icon>
    </button>
</ion-row>
<ng-template #divStars>
    <ion-row  justify-content-center>
        <div class="icon-style" *ngFor="let id of iconIds">
            <ion-icon [ngClass]="{'icon-small': small,'custom-icon-padding': iconPadding, iconColor: true}" name="{{ icons[id] }}"></ion-icon>
        </div>
    </ion-row>
</ng-template>