custom-rating {
    .star-style {
        background-color: transparent;
        color: #f39c12;
        font-size: 25px;
    }

    .icon-small {
        font-size: 25px;
    }

    .star-padding {
        padding: 0px 5px;
    }

    button {
        padding: 0;
    }
}