<ion-row  justify-content-center *ngIf="setstars">
    <button class="star-style" *ngFor="let number of starIds" (click)="setReputation(number)">
        <ion-icon [ngClass]="{'icon-small': small,'star-padding': starPadding}" name="{{ stars[number] }}"></ion-icon>
    </button>
</ion-row>
<ion-row  justify-content-center *ngIf="!setstars">
    <div class="star-style" *ngFor="let number of starIds">
        <ion-icon [ngClass]="{'icon-small': small,'star-padding': starPadding}" name="{{ stars[number] }}"></ion-icon>
    </div>
</ion-row>