custom-rating {
    .icon-style {
        background-color: transparent;
        font-size: 25px;
    }

    .stars-color {
        color: #f39c12;
    }

    .gears-color {
        color: gray;
    }

    .confidence-color {
        color: darkblue;
    }

    .icon-small {
        font-size: 25px;
    }

    .custom-icon-padding {
        padding: 0px 5px;
    }

    button {
        padding: 0;
    }
}