page-commits {
    .error-message {
        color: red;
    }
    .toolbar-background {
        background-color: #f3f6f9;
    }
    .navigation-bar {
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .content-color {
        background-color: #f3f6f9;
    }
    .commit-button:hover {
        border: 1px solid;
        border-color: color($colors, secondary);
    }
    .commit-card-header {
        height: 50px;
    }
    .commit-card-date {
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
    }
    .commit-card-details {
        height: 200px;
    }
    .commit-card-new {
        height: 50px;
    }
    .commit-card-title {
        height: 50px;
        .title {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .commit-card-project {
        height: 30px;
        .project {
            font-size: 15px;
        }
    }
    .commit-card-url {
        height: 20px;
        .url {
            width: 50px;
            font-size: 13px;
            color: color($colors, primary);
            font-style: italic;
            text-overflow: ellipsis;
        }
    }
    .commit-card-reviewers {
        height: 100px;
        .avatar {
            padding-left: 10px;
        }
    }
    .commit-card-button {
        height: 50px;
    }
    .status-dot-pending {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: color($colors, danger);
    }
    .status-dot-notpending {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: color($colors, secondary);
    }
    .username-title {
        font-size: 20px;
        font-weight: bold;
        height: 40px;
    }
    .username-avatar {
        width: 100%;
        height: 100%;
        max-width: 60px;
        border-radius: 50%;
    }
    .username-date {
        height: 20px;
    }
    .username-report {
        font-size: 13px;
        color: color($colors, grey);
    }
}