page-commits {
    .error-message {
        color: red;
    }
    .header-row {
        height: 100%;
    }
    .card-list-item:hover {
        background-color: rgba(0, 0, 0, 0.01);
    }
    .item-selected {
        background-color: rgba(0, 0, 0, 0.05);
    }
}