<ion-header no-border class="main-header">
    <ion-row no-padding class="header-row">
        <ion-col no-padding align-self-center>
            <div class="text-main">{{ "commits.title" | translate }}</div>
        </ion-col>
        <ion-col col-auto padding align-self-center>
            <button (click)="openAddCommitDialog()" class="btn btn--paddings btn__dark">{{ "commits.add" | translate }}</button>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding class="main-container">
    <filter-selection [projects]="projects" [parentFilterValue]="filterValue" [parentPendingFilter]="filterIsPending" (filterEmit)="setFilter($event)" (projectEmit)="setProject($event)"></filter-selection>
    <ion-row no-padding>
        <ion-col padding class="text-details text-details--bold">
                {{ "commitReview.showAllCommits" | translate }}
        </ion-col>
        <ion-col col-6 padding class="text-details text-details--bold" *ngIf="currentCommit">
            {{ "commitReview.details" | translate }}
        </ion-col>
    </ion-row>
    <ion-row no-padding class="scroll-dimensions">
        <ion-col no-padding class="main-style scroll-y">
            <div class="scrollable-content">
                <div [ngClass]="commit === currentCommit ? 'card card__selected' : 'card'" *ngFor="let commit of filterArrayCommits; let i = index" (click)="shouldOpen(commit)">
                    <commit-card [commit]="commit"></commit-card>
                </div>
            </div>
        </ion-col>
        <ion-col col-6 *ngIf="currentCommit" class="scroll-y">
            <div class="scrollable-content">
                <ion-row padding class="main-style">
                    <ion-col>
                        <ion-row class="text-title"> {{ currentCommit.title }} </ion-row>
                        <ion-row align-items-center class="text-description">
                            <img class="ico " src="../../../../assets/imgs/project-icon.svg">{{ currentCommit.project }}
                            <img class="ico ico__margin" src="../../../../assets/imgs/user-icon.svg"> {{ currentCommitName }} ( {{ currentCommitEmail }} )
                        </ion-row>
                        <ion-row>
                            <div class="text-url text-ellipsis" (click)="openUrl(currentCommit.url, false)">  #{{ currentCommit.urlHash }}</div>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row padding class="text-details text-details--bold">
                    {{ "commits.currentReview" | translate }}
                </ion-row>
                <ion-row padding class="main-style" *ngIf="commitComments.length === 0">
                    <div class="text-description">Nobody reviewed this commit</div>
                </ion-row>
                <ion-col no-padding *ngFor="let comment of commitComments; let j=index ">
                    <commit-comment [review]="comment" (thumbsUp)="setThumbs(currentCommit.url,j, 1)" (thumbsDown)="setThumbs(currentCommit.url,j, 2)"></commit-comment>
                    <ion-row padding></ion-row>
                </ion-col>
            </div>

        </ion-col>
    </ion-row>
</ion-content>