<ion-header>
    <ion-navbar>
        <ion-title>
            {{ "commits.title" | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="openAddCommitDialog()">
        {{ "commits.add" | translate }}
    </button>
    <ion-item>
        <ion-label>{{ "commits.project" | translate }}</ion-label>
        <ion-select [(ngModel)]="projectSelected" (ionChange)="refresh()">
            <ion-option value="all" selected="true">{{ "commits.allProjects" | translate }}</ion-option>
            <ion-option *ngFor="let option of projects" value="{{ option }}">{{ option }}</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button (click)="setReviewFilter(0)">
        {{ "commits.pending" | translate }}
    </button>
    <button ion-button (click)="setReviewFilter(1)">
        {{ "commits.reviewed" | translate }}
    </button>
    <button ion-button (click)="setReviewFilter()">
        {{ "commits.allCommits" | translate }}
    </button>
    <ion-list inset>
        <button ion-item *ngFor="let commit of arrayCommits; let i = index" (click)="selectUrl(commit, arrayCommits.length - i - 1)" class="commit-button">
            <ion-icon name="notifications" *ngIf="commit.isReadNeeded"></ion-icon>
            <ion-icon name="checkmark" *ngIf="commit.isPending"></ion-icon>
            <ion-icon name="done-all" *ngIf="!commit.isPending"></ion-icon>
            {{ "addCommit.titleCommit" | translate }}: {{ commit.title }}, {{ "addCommit.project" | translate }}: {{ commit.project }},
            {{ "commitDetails.stars" | translate }}: {{ commit.score }}, {{ "addCommit.date" | translate }}: {{ commit.lastModificationDateMs | dateFormat }}
        </button>
    </ion-list>
    <p class="error-message">{{ msg }}</p>
</ion-content>