<ion-grid no-padding>
    <ion-row>
        <ion-col col-auto align-self-center>
            <div [ngClass]="stateFinished ? 'red-dot' : 'green-dot'"></div>
        </ion-col>
        <ion-col align-self-center class="col-middle">
            <ion-row class="text-date">
                <div>{{ creationDateMs | dateFormat }}</div>
            </ion-row>
            <ion-row align-items-center class="text-title">
                <div>{{ title | slice:0:40 }}</div>
                <div *ngIf="isPending" class="notifications">
                    <ion-icon name="notifications"></ion-icon>
                </div>
            </ion-row>
            <ion-row class="text-description">
                <div>{{ "commits.project" | translate }}: {{ project }}</div>
            </ion-row>
            <ion-row class="text-url">
                <div (click)="openUrl(urlLink)">#{{ urlHash }}</div>
            </ion-row>

        </ion-col>
        <ion-col col-auto>
            <ion-row justify-content-end>
                <rating [rate]="score" readonly="true" small="true"></rating>
            </ion-row>
            <ion-row justify-content-end class="reviews-container">
                <ion-avatar *ngFor="let user of reviewers[1]" class="reviewer-icon">
                    <img src="http://identicon.org?t={{ user.name }}">
                </ion-avatar>
                <div class="reviewers-left" *ngIf="numberReviews > 0">
                    +{{ numberReviews }}
                </div>
            </ion-row>
        </ion-col>
    </ion-row>

</ion-grid>