avatar {
    .avatar-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: color($colors, backgroundLight);
        max-width: none;

        &.__big {
            width: 60px;
            height: 60px;
            min-width: 60px;
        }

        &.__preview {
            width: 150px;
            height: 150px;
            min-width: 150px;
        }
    }
}