<ion-header no-border class="main-header">
    <ion-row no-padding class="header-row">
        <ion-col no-padding align-self-center col-4>
            <div class="text-main">{{ "ranking.title" | translate }}</div>
        </ion-col>
        <ion-col col-4 no-padding class="text-ranking">
            <div class="ranking-top">
                <ion-row>
                    <ion-col col-7>{{ "ranking.current" | translate }} {{ "ranking.season" | translate }}: {{ numberOfSeasons }}</ion-col>
                    <ion-col col-5 *ngIf="days > 0" class="ranking-left">{{ days }} {{ "ranking.day" | translate }} {{ "ranking.left" | translate }}</ion-col>
                    <ion-col col-5 *ngIf="days <= 0" class="ranking-left">{{ hours }} {{ "ranking.hours" | translate }}, {{ minutes }} {{ "ranking.minutes" | translate }}  {{ "ranking.left" | translate }} </ion-col>
                </ion-row>
            </div>
        </ion-col>
        <ion-col col-4 padding>
            <select [value]="seasonSelected" (change)="setSeason($event.target.value)" class="dropdown dropdown--ranking">
                <option value="-1">{{ "ranking.global" | translate }}</option>
                <option *ngFor="let option of seasons" [value]="option">{{ "ranking.season" | translate }} {{ option }}</option>
            </select>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content padding class="main-container">
    <ion-row no-padding></ion-row>
    <ion-row no-padding>
        <ion-col padding class="text-details text-details--bold">
            <ion-row>
                <ion-col col-10>
                    <div *ngIf="globalSelected; else elseBlock"> {{ "ranking.global" | translate }}</div>
                    <ng-template #elseBlock>{{ "ranking.title" | translate }} {{ "ranking.season" | translate }} {{ seasonSelected }}</ng-template>
                </ion-col>
                <ion-col class="text-details ranking-a" col-2>
                    <a no-padding (click)="goBackToUser()">Find me</a>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-6 padding class="text-details text-details--bold">        
            {{ "ranking.details" | translate }}
        </ion-col>
    </ion-row>
    <ion-row no-padding>
        <ion-col>
            <table class="table">
                <tr *ngFor="let user of usersRep" ranking-card [ngClass]="{'card-user':user.userHash === userHash}" (click)="setUser(user.userHash)" [globalSelection]="globalSelected" [ranking]="user"></tr>
            </table>
        </ion-col>
        <ion-col col-6 class="profile-details-container">
            <ion-row padding justify-content-center class="main-style">
                <ion-col>
                    <ion-row padding justify-content-center>
                        <img class="box-avatar box-avatar__big" src="http://identicon.org?t={{ userRankDetails.name }}">
                    </ion-row>
                    <ion-row justify-content-center class="text-title">
                        {{ userRankDetails.name }}
                    </ion-row>
                    <ion-row justify-content-center class="text-description">
                        {{ userRankDetails.email }}
                    </ion-row>
                    <ion-row padding justify-content-center class="hor-separator">
                        <ion-col col-auto>
                            <button class="btn btn--label btn__grey"> {{ "ranking.level" | translate }} {{ userRankDetails.level }} </button>
                        </ion-col>
                        <ion-col col-auto>
                            <button class="btn btn--label btn__grey"> {{ userRankDetails.rank }} </button>
                        </ion-col>
                        <ion-col col-auto>
                            <button class="btn btn--label btn__grey" *ngIf="globalSelected">{{ userRankDetails.engagementIndex }} {{ "ranking.engagementIndex" | translate }}</button>
                            <button class="btn btn--label btn__grey" *ngIf="!globalSelected"> 
                                {{ userRankDetails.score }}
                                <img class="btn--img" src="../../assets/imgs/star-icon.svg">
                            </button>
                        </ion-col>
                    </ion-row>
                    <ion-row padding justify-content-center>
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center class="text-title">{{ userRankDetails.reviews }}</ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.reviews" | translate }}</ion-row>
                        </ion-col>
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center class="text-title">{{ userRankDetails.commits }}</ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.commits" | translate }}</ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row justify-content-center class="text-title"> {{ userRankDetails.agreed }}%</ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.agreed" | translate }}</ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row padding></ion-row>
            <ion-row *ngIf="globalSelected" padding class="main-style">
                <ion-col>
                    <ion-row class="hor-separator">
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[0]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.tenCommits" | translate }}</ion-row>
                        </ion-col>
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[1]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.fiftyCommits" | translate }}</ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[2]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.hundredCommits" | translate }}</ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[3]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.tenReviews" | translate }}</ion-row>
                        </ion-col>
                        <ion-col class="vert-separator">
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[4]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.fiftyReviews" | translate }}</ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row justify-content-center><img class="ico-trophy" src="../../assets/imgs/trophys/{{userTrophyList[5]}}"></ion-row>
                            <ion-row justify-content-center class="text-description">{{ "ranking.hundredReviews" | translate }}</ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>



</ion-content>