page-ranking {
    .error-message {
        color: red;
    }
    .avatar.ranking {
        text-align: center;
        width: 80px;
        height: 80px;
    }
    .ranking-stars {
        margin-left: -12px;
    }
    .col-border {
        border-left: 1px solid rgb(231, 234, 237);
    }
    .lower-col-border {
        border-top: 1px solid rgb(231, 234, 237);
    }
    /// ESTRUCTURAS
    //TABLE HEADERS
    //NUMBER
    .rank-number {
        font-weight: bolder;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
        padding-left: 10px;
        padding-right: 10px;
    }
    //REVIEWS, COMMITS, AGREED COLUMN
    .info-container {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .info-container.separations {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    //RATING COLUMN
    .rating-container {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rate-title {
        vertical-align: middle;
        padding-right: 10px;
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        color: #da930f;
    }
    .rate-img {
        height: 20px;
        width: auto;
    }
    //NAME COLUMN
    .name-container {
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
        .text-description.no-wrap {
            width: 100%;
            white-space: nowrap;
        }
    }
    .profile-details-container {
        display: flex;
        flex-direction: column;
        width: 35%;
    }
    //AVATAR COLUMN
    .avatar-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .avatar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    //ALL THE ROW STYLE
    //TABLE CONFIGURATION
    .table-container {
        flex-grow: 1;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    table {
        width: 100%;
    }
    tr {
        height: 90px;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    tr:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    tr:last-child {
        border-bottom: none;
    }
    tr.main-user {
        background-color: rgba(137, 219, 247, 0.25);
    }
    //GENERAL TABLE CONTAINER
    .page-container {
        display: flex;
        padding: 20px;
    }
    .div-separator {
        width: 10px;
    }
    //SPECIFIC GENERAL CLASSES
    .text-title.align-middle {
        text-align: center;
    }
    //DETAILS CARD CLASSES
    .details-container {}
    .card-profile {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-avatar {
            padding-top: 20px;
            padding-bottom: 10px;
            .avatar-icon {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
        .profile-ranks {
            display: flex;
            justify-content: space-evenly;
            width: calc(100% - 40px);
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .info-card {
                display: flex;
                align-items: center;
                height: 40px;
                border-radius: 20px;
                padding-left: 15px;
                padding-right: 15px;
                background-color: rgba(0, 0, 0, 0.1);
                color: rgba(0, 0, 0, 0.5);
                line-height: 40px;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                white-space: nowrap;
                img {
                    width: 20px;
                    padding-left: 5px;
                }
            }
            .info-card:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
        }
        .details-container {
            display: flex;
            flex-direction: row;
            width: calc(100% - 40px);
            justify-content: space-evenly;
            padding-top: 20px;
            padding-bottom: 20px;
            .details-col {
                display: flex;
                flex-direction: column;
            }
        }
        .separation-details {
            background-color: rgba(0, 0, 0, 0.1);
            width: 1px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .row-details {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .row-details:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .trophy-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .trophy {
            width: 60px;
        }
    }
    .card-profile.paddings {
        padding: 20px;
    }
    .div-separator-horizontal {
        height: 10px;
    }
}