page-ranking {
    .error-message {
        color: red;
    }
    .toolbar-background {
        background-color: rgb(246, 247, 251);
    }
    .card-reputation {
        background-color: rgb(246, 247, 251);
    }
    .navigation-bar {
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .content-color {
        background-color: rgb(246, 247, 251);
    }
    .list-default {
        border: 1px solid rgb(231, 234, 237);
        background-color: white;
    }
    .user-avatar {
        width: 100px;
        height: auto;
        border-radius: 50%;
        margin-right: 25px;
    }
    .user-ranking {
        padding-left: 10px;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
        color: #ff4c52;
    }
    .user-name {
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        color: #3e8ef7;
    }
    .user-level {
        font-size: 15px;
        line-height: 30px;
        color: #526069;
    }
    .user-table-info {
        text-align: left;
        font-size: 15px;
        line-height: 30px;
        color: #000000;
    }
    .user-table-text {
        text-align: left;
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        color: #000000;
    }
    .user-table-percent {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        color: #0acf97;
    }
    .row-class {
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    .col-details {
        border-left: 1px solid rgb(231, 234, 237);
    }
    .level-card {
        margin-left: 10px;
        font-size: 10px;
        color: white;
        background-color: #0acf97;
        border-radius: 5px;
        padding: 5px;
    }
    .avatar-user-col {
        margin-right: 25px;
        height: 80px;
        width: auto;
        border-radius: 50%;
    }
    .ranking-stars {
        margin-left: -12px;
    }
    .text-name {
        font-size: 18px;
        font-weight: bold;
        color: #2c3e50;
    }
    .text-email {
        font-size: 15px;
        color: #687177;
        margin-top: 10px;
    }
    .text-rank {
        margin-left: 10px;
        font-size: 10px;
        color: white;
        background-color: #2c3e50;
        border-radius: 5px;
        padding: 5px;
    }
    .text-agreed {
        color: #0acf97;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .subtitle-agreed {
        color: #0acf97;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .text-info {
        color: #687177;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .subtitle-info {
        color: #687177;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .text-level {
        font-size: 15px;
        font-weight: bold;
    }
    .subtitle-level {
        font-size: 10px;
    }
    .col-border {
        border-left: 1px solid rgb(231, 234, 237);
    }
    .trophy {
        padding: 10px;
        margin: auto;
        height: auto;
        width: 70%;
    }
    .lower-col-border {
        border-top: 1px solid rgb(231, 234, 237);
    }
}