page-review {
    .error-message {
        color: red;
    }
    .card-list-item:hover {
        background-color: rgba(0, 0, 0, 0.01);
    }
    .star-style {
        background-color: transparent;
        color: #f39c12;
        font-size: 25px;
    }
    .item-selected {
        background-color: rgba(0, 0, 0, 0.05);
    }
}