page-review {
    .error-message {
        color: red;
    }
    .toolbar-background {
        background-color: rgb(246, 247, 251);
    }
    .navigation-bar {
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .content-color {
        background-color: rgb(246, 247, 251);
    }
    .card {
        border: 1px solid rgb(231, 234, 237);
    }
    .card-list-item:hover {
        background-color: #F3F7F9;
    }
    .disabled {
        background-color: #2c3e50;
    }
}