<ion-header no-border class="main-header">
    <div class="title">{{ "review.title" | translate }}</div>
</ion-header>

<ion-content class="background-style" padding>
    <ion-row>
        <ion-col col-7>
            <ion-item class="background-style">
                <ion-label>{{ "commits.project" | translate }}</ion-label>
                <ion-select [(ngModel)]="projectSelected" (ionChange)="refresh(); openedComments = false;">
                    <ion-option value="all" selected="true">{{ "commits.allProjects" | translate }}</ion-option>
                    <ion-option *ngFor="let option of projects" [value]="option">{{ option }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <button [ngClass]="filterValue === incompleted ? 'button-red-active' : 'button-red-inactive'" (click)="setFilter('incompleted')">
                {{ "commits.pending" | translate }}
            </button>
        </ion-col>
        <ion-col>
            <button [ngClass]="filterValue === completed ? 'button-green-active' : 'button-green-inactive'" (click)="setFilter('completed')">
                {{ "commits.reviewed" | translate }}
            </button>
        </ion-col>
        <ion-col>
            <button [ngClass]="filterIsPending ? 'button-yellow-active' : 'button-yellow-inactive'" (click)="setFilter('pending')">
                {{ "commits.updated" | translate }}
            </button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-list class="card-style" no-padding>
                <ion-item class="card-list-item" *ngFor="let commit of filterArrayCommits" (click)="shouldOpen(commit)">
                    <review-card [commit]="commit"></review-card>
                </ion-item>
            </ion-list>
            <p class="error-message ">{{ msg }}</p>
        </ion-col>
        <ion-col col-5 *ngIf="openedComments ">
            <div class="text-title">{{ "review.myReview" | translate }}</div>
            <ion-list class="card-style" *ngIf="needReview">
                <ion-item>
                    <ion-textarea placeholder="{{ 'commitReview.description' | translate }}" [(ngModel)]="textComment">
                    </ion-textarea>
                </ion-item>
                <ion-item>
                    <button class="star-style" *ngFor="let number of [0,1,2,3,4]" (click)="setReputation(number)">
                        <ion-icon clas="icon-size" name="{{ star[number] }}"></ion-icon>
                    </button>
                </ion-item>
                <ion-item>
                    <button class="button-green-active" (click)="setReview(currentCommit.url, textComment, rate); textComment =''">
                        {{ "commitReview.review" | translate }}
                    </button>
                </ion-item>               
            </ion-list>
            <ion-list *ngIf="userCommitComment[0]">
                <review-comment [review]="userCommitComment[0] "></review-comment>
            </ion-list>
            <div class="text-title" *ngIf="commitComments.length > 0">{{ "review.otherReview" | translate }}</div>
            <ion-list *ngFor="let comment of commitComments; let j=index ">
                <review-comment [review]="comment "></review-comment>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>