<ion-header>
    <ion-navbar>
        <ion-title>
            {{ "review.title" | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>{{ "review.subTitle" | translate }}</ion-list-header>
        <ion-item>
            <ion-icon name="ionic" item-start></ion-icon>
            {{ "review.titleList" | translate }}
        </ion-item>
    </ion-list>
    <ion-list inset>
        <button ion-item *ngFor="let commit of arrayCommits; let i = index" (click)="selectUrl(commit, i)">
            <ion-icon name="notifications" *ngIf="isFeedback[i]==true"></ion-icon>
            {{ "review.titleCommit" | translate }}: {{ commit.title }}, {{ "review.author" | translate }}: {{ commit.name }}, Url: {{ commit.url }}
        </button>
    </ion-list>
    <p class="error-message">{{ msg }}</p>
</ion-content>