<ion-list class="comment" no-padding>
    <ion-item no-padding>
        <ion-row align-items-center>
            <ion-col col-2>
                <ion-row justify-content-start>
                <div>
                    <img class="avatar" src="../../assets/imgs/avatar.jpg">

                </div>
                </ion-row>
            </ion-col>
            <ion-col no-padding>
                <ion-row align-items-center>
                    <ion-col no-padding>
                        <ion-row justify-content-start>
                            <ion-col align-self-center no-padding class="title">
                                {{ review.name }}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col no-padding>
                        <ion-row justify-content-start>
                            <rating [rate]="review.score" readonly="true" small="true"></rating>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row class="date">
                    {{ review.lastModificationDateMs | dateFormat }}
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-item>
    <ion-item text-wrap>
        <ion-col col-12 class="text">
            {{ review.text }}
        </ion-col>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col>
                <div class="button-success" (click)="setThumbsUp()" *ngIf="review.vote==0">{{ "commits.agree" | translate }}</div>
            </ion-col>
            <ion-col>
                <div class="button-failed" (click)="setThumbsDown()" *ngIf="review.vote==0">{{ "commits.disagree" | translate }}</div>
            </ion-col>
            <ion-col>
                <div class="button-report" *ngIf="review.vote==0">
                    <ion-icon name="warning"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="success" *ngIf="review.vote==1"> {{ "commits.ratedAgree" | translate }}</div>
        </ion-row>
        <ion-row>
            <div class="failed" *ngIf="review.vote==2"> {{ "commits.ratedDisagree" | translate }}</div>
        </ion-row>
    </ion-item>

</ion-list>