<ion-list class="card-style" no-padding>
    <ion-item no-padding>
        <ion-row align-items-center>
            <ion-col col-auto>
                <ion-row justify-content-start>
                    <img class="avatar commit" src="http://identicon.org?t={{ review.name }}">
                </ion-row>
            </ion-col>
            <ion-col no-padding>
                <ion-row align-items-center>
                    <ion-col col-auto no-padding>
                        <ion-row justify-content-start>
                            <ion-col align-self-center no-padding class="text-title">
                                {{ review.name }}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col no-padding>
                        <ion-row justify-content-end>
                            <rating [rate]="review.score" readonly="true" small="true"></rating>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row class="text-date">
                    {{ review.lastModificationDateMs | dateFormat }}
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-item>
    <ion-item text-wrap>
        <ion-col col-12 class="text-description">
            {{ review.text }}
        </ion-col>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col>
                <button class="button-green-active" (click)="setThumbsUp()" *ngIf="review.vote==0">{{ "commits.agree" | translate }}</button>
            </ion-col>
            <ion-col>
                <button class="button-red-active" (click)="setThumbsDown()" *ngIf="review.vote==0">{{ "commits.disagree" | translate }}</button>
            </ion-col>
            <ion-col>
                <button class="button-yellow-active" *ngIf="review.vote==0">
                    <ion-icon name="warning"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <button class="button-green-active" *ngIf="review.vote==1"> {{ "commits.ratedAgree" | translate }}</button>
        </ion-row>
        <ion-row>
            <button class="button-red-active" *ngIf="review.vote==2"> {{ "commits.ratedDisagree" | translate }}</button>
        </ion-row>
    </ion-item>

</ion-list>