<ion-row no-padding>
    <ion-col no-padding col-auto align-self-center class="info-container">
        <div [ngClass]="stateFinished ? 'status status--red' : 'status status--blue'"></div>
    </ion-col>
    <ion-col align-self-center padding>
        <ion-row align-items-center>
            <img class="ico" src="../../assets/imgs/clock-icon.svg">
            <div class="text-details">{{ creationDateMs | dateFormat }}</div>
            <img class="ico ico__margin" src="../../assets/imgs/project-icon.svg">
            <div class="text-details"> {{ project }}</div>
            <img class="ico ico__margin" src="../../assets/imgs/tab-icon.svg">
            <div class="text-details" (click)="openUrl(urlLink, true, $event)">{{ "commits.newTab" | translate }}</div>
        </ion-row>
        <ion-row class="text-title">
            <div class="text-ellipsis">
                {{ title }}
            </div>
            <ion-icon *ngIf="isPending" class="notifications-icon" name="notifications"></ion-icon>
        </ion-row>
        <ion-row>
            <div class="text-url text-ellipsis" (click)="openUrl(urlLink, false)">#{{ urlHash }}</div>
        </ion-row>
    </ion-col>
    <ion-col col-5 padding>
        <ion-row justify-content-end>
            <rating [rate]="score" readonly="true" small="true"></rating>
        </ion-row>
        <ion-row justify-content-end>
            <ion-col col-auto *ngFor="let user of reviewers">
                <img [title]="user" class="box-avatar" [src]="'http://identicon.org?t='+ user">
            </ion-col>
            <ion-col col-auto *ngIf="!(numberReviews === 0)">
                <div class="box-reviewer">+{{ numberReviews }}</div>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>