.commit-card:hover {
    background-color: e4eaec;
}

commit-card {
    .col-middle {
        margin-left: 40px;
    }
    .reviews-container {
        margin-top: 15px;
    }
    .reviewer-icon {
        margin-right: 10px;
        height: 40px;
        border-radius: 50%;
        background-color: color($colors, backgroundLight);
    }
}