<?xml version='1.0' encoding='utf-8'?>
<widget description="BrightByte" id="com.tribalyte.brightbyteapp" name="BrightByte" version="0.8.1-cloud" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <author email="info@tribalyte.com" href="http://tech.tribalyte.eu/">Tribalyte Technologies S.L.</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <engine name="browser" spec="5.0.3" />
</widget>
