achievement {

    .ico-trophy {
        height: 100px;

        &.big {
            height: 220px;
        }
    }

    .mega-interrogation {
        font-size: 120px;
        font-weight: bold;
        opacity: 0.1;
    }

    .centered {
        position: absolute;
        top: 56%;
        left: 49%;
        transform: translate(-51%, -49%);

        &.big {
            position: absolute;
            top: 56%;
            left: auto;
            transform: translate(-51%, -49%);
        }
    }

    .achievement-tittle {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;

        &.big {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    .achievement-number {
        font-size: 45px;
        color: white;
        letter-spacing: -5px;
        font-weight: bold;

        &.big {
            font-size: 75px;
            color: white;
            letter-spacing: -5px;
            font-weight: bold;
        }
    }

    .achievement-text {
        font-size: 9px;
        font-weight: bold;
        color: white;
        padding-left: 7px;

        &.big {
            font-size: 15px;
            font-weight: bold;
            color: white;
            padding-left: 7px;
        }
    }

    .text-details-big {
        line-height: 25px;
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
    }
}