<ion-grid *ngIf="!isEmpty; else unknownAchievement" no-padding no-margin>
    <ion-row [ngClass]="(big ? 'text-details-big ' : 'text-details ') + 'text-details--bold'" justify-content-center>
        {{ achievementInfo.tittle }}
    </ion-row>
    <ion-row justify-content-center>
        <img [ngClass]="big ? 'ico-trophy-big' : 'ico-trophy'" [src]="achievementInfo.iconPath">
    </ion-row>
    <ion-row justify-content-center>
        <ion-col [ngClass]="big ? 'centered-big' : 'centered'">
            <ion-row [ngClass]="big ? 'achievement-number-big' : 'achievement-number'" justify-content-center>
                {{ achievementInfo.quantity }}
            </ion-row>
            <ion-row [ngClass]="big ? 'achievement-text-big' : 'achievement-text'" justify-content-center>
                {{ achievementInfo.parameter }}
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>
<ng-template #unknownAchievement>
    <ion-grid class="ico-trophy" no-padding no-margin>
        <ion-row class="mega-interrogation" justify-content-center>?</ion-row>
    </ion-grid>
</ng-template>

