<div class="card-container">
    <div class="status">
        <div [ngClass]="stateFinished ? 'box red' : 'box blue'"></div>
    </div>
    <div class="info-container">
        <div class="info-tabs">
            <div class="tab">
                <img class="icon" src="../../assets/imgs/clock-icon.svg">
                <div class="text-date">{{ creationDateMs | dateFormat }}</div> 
            </div>
            <div class="tab">
                <img class="icon" src="../../assets/imgs/project-icon.svg">
                <div class="text-date"> {{ project }}</div> 
            </div>
            <div class="tab" (click)="openUrl(urlLink, true)">
                <img class="icon" src="../../assets/imgs/tab-icon.svg">
                <div class="text-date"> Open in new tab</div> 
            </div>
        </div>
        <div class="text-title">{{ title | slice:0:40 }}</div>
        <div class="text-url" (click)="openUrl(urlLink)">#{{ urlHash }}</div>
    </div>
    <div class="stats-container">
        <div class="stars">
            <rating [rate]="score" readonly="true" small="true"></rating>
        </div>
        <div class="users-container">
            <img *ngFor="let user of reviewers" [title]="user" class="reviewers-done" [src]="'http://identicon.org?t='+ user">
            <div *ngIf="!(numberReviews === 0)" class="reviewers-left">+{{ numberReviews }}</div>
        </div>
    </div>
</div>