page-review {
    .star-style {
        background-color: transparent;
        color: #f39c12;
        font-size: 25px;
    }

    .padding-top-set-review {
        padding-top: 20px;
    }

    .padding-bottom-set-review {
        padding-bottom: 40px;
    }

    .review-rules-container {
        padding: 10px 40px;
    }

    ion-item .label {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    ion-content .scroll-content {
        overflow-y: auto;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
    }

    ion-col .scrollable-content {
        overflow-y: auto;
    }
}