page-review {
    .error-message {
        color: red;
    }

    .error-body {
        background-color: color($colors, dangerLight);
        text-align: center;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid color($colors, danger);
        color: white;
        margin: 5px;
    }

    .star-style {
        background-color: transparent;
        color: #f39c12;
        font-size: 25px;
    }

    .padding-top-set-review {
        padding-top: 20px;
    }

    .padding-bottom-set-review {
        padding-bottom: 40px;
    }

    ion-item .label {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    ion-content .scroll-content {
        overflow-y: auto;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
    }

    ion-col .scrollable-content {
        overflow-y: auto;
    }
}